!!!
%html(prefix="og: http://ogp.me/ns#" lang="cs")
    %head
        != $head

        != $css

        %title
            = $title

        != $javascript

    %body
        #all
            #main
                .container
                    #content
                        != $content
