{% extends "Layout.twig" %}

{% block title %}Správa nabídky{% endblock %}
{% block subheader %}<h2>{{ action == 'add' ? 'Přidat' : 'Upravit' }} nabídku</h2>{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="form-group row">
      <label for="trener" class="col-sm-2 col-form-label">Trenér:</label>
      <div class="col-sm-10">
        {{ userSelect(users, 'trener', trener) }}
      </div>
    </div>
    <div class="form-group row">
      <label for="pocet_hod" class="col-sm-2 col-form-label">Počet hodin:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="pocet_hod" value="{{ pocet_hod }}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="max_pocet_hod" class="col-sm-2 col-form-label">Max. počet hodin/pár:</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="max_pocet_hod" value="{{ max_pocet_hod }}" />
        <small class="form-text text-muted">"0" = neomezeně</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="od" class="col-sm-2 col-form-label">Od:</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" name="od" value="{{ od }}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="do" class="col-sm-2 col-form-label">Do:</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" name="do" value="{{ do }}" />
        <small class="form-text text-muted">(pokud je prázdné, počítá se jako "Od")</small>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <div class="form-check">
          {{ checkbox('visible', 'visible', visible, 'Zviditelnit') }}
        </div>
        <div class="form-check">
          {{ checkbox('lock', 'lock', lock, 'Uzamknout') }}
        </div>
        <div class="form-group">
          <input type='hidden' name='returnURI' value='{{ returnURI }}'>
          <button class="btn btn-primary">{{ action == 'add' ? 'Přidat' : 'Upravit' }}</button>
          <a class="btn btn-outline-primary" href="{{ returnURI }}">Zpět</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
