{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <a href="/admin/nastenka/add" class="btn btn-primary">Přidat</a>
    {% if not data %}
      <div class="alert alert-info">Žádné příspěvky na nástěnce</div>
    {% else %}
      <table style="width:100%">
        <tr>
          <th>Nadpis</th>
          <th>Skupiny</th>
          <th>Přidal</th>
          <th>Přidáno</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                  <img alt="Upravit" width="14" src="/style/icon-gear.png" />
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/nastenka/edit/{{ row.id }}">Upravit</a>
                  <a class="dropdown-item" href="/admin/nastenka/remove/{{ row.id }}">Odstranit</a>
                </div>
              </div>
              {{ row.up_nadpis }}
            </td>
            <td>
              {% for group in row.groups %}
                <div class="box" title="{{ group.ups_popis }}" style="background-color:{{ group.ups_color }}"></div>
              {% endfor %}
            </td>
            <td>{{ row.u_jmeno }} {{ row.u_prijmeni }}</td>
            <td style="min-width:83px">{{ row.up_timestamp_add | date('j. n. Y') }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </form>
  <div class="text-center">{{ navigation | raw }}</div>
</div>
{% endblock %}
