{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    {% for row in data %}
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
            <img alt="Upravit" width="14" src="/style/icon-gear.png" />
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/pary/remove/{{ row.p_id }}">Odstranit</a>
          </div>
        </div>
        {{ row.man_surname }}, {{ row.man_name }}
        {% if row.woman %}- {{ row.woman_surname }}, {{ row.woman_name }}{% endif %}
      </div>
    {% endfor %}
    <br/>

    <h2>Nový pár</h2>
    Partner: {{ userSelect(usersMen, 'add_partner') }}<br/>
    Partnerka: {{ userSelect(usersWomen, 'add_partnerka') }}<br/>
    <button name="action" value="add" class="btn btn-primary">Nový pár</button>
    <button class="btn btn-outline-primary" name="action" value="fix_unpaired">
      Opravit nespárované uživatele
    </button>
  </form>
</div>
{% endblock %}
