{% extends "Layout.twig" %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container">
    <form action="" method="post">
      <table>
        <tr>
          <th></th>
          <th>Hodnota</th>
        </tr>
        <tr>
          <td>Jméno:</td>
          <td>{{ text('name', name) }}</td>
        </tr>
        <td>
          <td>Specifický symbol:</td>
          <td>{{ text('symbol', symbol) }}</td>
        </td>
        <tr>
          <td>Očekávaná částka:</td>
          <td>{{ text('amount', amount) }}</td>
        </tr>
        <tr>
          <td>Splatnost:</td>
          <td>{{ date('dueDate', dueDate) }}</td>
        </tr>
        <tr>
          <td>Platnost:</td>
          <td>{{ dateRange('validRange', validRange) }}</td>
        </tr>
        <tr>
          <td>Povolit prefix roku?:</td>
          <td>{{ checkbox('usePrefix', '1', usePrefix) }}</td>
        </tr>
        <tr>
          <td>Archivovat?:</td>
          <td>checkbox('archive', '1', archive)</td>
        </tr>
        <tr>
          <td>Viditelný:</td>
          <td>{{ checkbox('visible', '1', visible) }}</td>
        </tr>
      </table>
    <input type='hidden' name='returnURI' value='{{ returnURI }}'>
    <br/>
    <h3>Kategorie</h3>
    {{ table(groups, [
        ['buttons', ''],
        ['name', 'Jméno'],
        ['type', 'Typ'],
        ['base', 'Násobitel částky'],
    ], ' style="width:100%"') }}
    <br>
    <button class="btn btn-primary">Uložit</button>
    <a class="btn btn-outline-primary" href="{{ returnURI }}">Zpět</a><br/>
</form>
</div>
{% endblock %}
