{% extends "Layout.twig" %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container full">
    <form action="" method="get">
      <span class="big">Omezit výběr:</span>
      <table>
        <tr>
          <td>uživatel</td>
          <td>{{ userSelect(users, 'user', user ? user : 'all') }}</td>
        </tr>
        <tr>
          <td>spec. symbol</td>
          <td>{{ select('category', categories, category ? category : 'all') }}</td>
          </td>
        </tr>
        <tr>
          <td>datum</td>
          <td>{{ dateRange('date', date) }}</td>
        </tr>
        <tr>
          <td><a href="/admin/platby/items/add" class="btn btn-primary">Přidat platbu</a></td>
          <td><button class="btn btn-primary">Filtrovat</button></td>
        </tr>
      </table>
    </form>
    <br/>
    <form action="" method="POST">
      <table class="w-100">
        <tr>
          <th>Částka</th>
          <th>Datum</th>
          <th>Uživatel</th>
          <th>Kategorie</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                  <img alt="Upravit" width="14" src="/style/icon-gear.png" />
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/platby/items/edit/{{ row.pi_id }}">Upravit</a>
                  <a class="dropdown-item" href="/admin/platby/items/remove/{{ row.pi_id }}">Odstranit</a>
                </div>
              </div>
              {{ row.pi_amount }} Kč
            </td>
            <td>{{ row.pi_date | date('j. n. Y') }}</td>
            <td>
              <a href="/admin/platby/items?user={{ row.u_id }}">
                {{ row.u_jmeno }} {{ row.u_prijmeni }}
              </a>
            </td>
            <td>
              <a href="/admin/platby/items?category={{ row.pc_id }}">
                {{ row.pc_name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </form>
</div>
{% endblock %}
