{% extends "Layout.twig" %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container">
    <form action="" method="post">
      <table>
        <tr>
          <th></th>
          <th>Hodnota</th>
          <th>Rozpoznáno:<br/>sloupec</th>
          <th>Rozpoznáno:<br/>hodnota</th>
        </tr>
        <tr>
          <td class="r">Datum:</td>
          <td><input class="form-control" type="date" name="date" value="{{ guess.date }}" /></td>
          <td>{{ recognized.date.column }}</td>
          <td>{{ recognized.date.value | date('j. n. Y') }}</td>
        </tr>
        <tr>
          <td class="r">Částka (Kč):</td>
          <td><input class="form-control" type="text" name="amount" value="{{ guess.amount }}" />
          <td>{{ recognized.amount.column }}</td>
          <td>{{ recognized.amount.value }}</td>
        </tr>
        <tr>
          <td class="r">Uživatel:</td>
          <td>{{ select('variable', users, guess.variable) }}</td>
          <td>{{ recognized.variable.column }}</td>
          <td>{{ recognized.variable.value }}</td>
        </tr>
        <tr>
          <td class="r">Kategorie:</td>
          <td>{{ select('specific', categories, guess.specific) }}</td>
          <td>{{ recognized.specific.column }}</td>
          <td>{{ recognized.specific.value }}</td>
        </tr>
        <tr>
          <td class="r">Prefix (rok):</td>
          <td><input class="form-control" type="text" name="prefix" value="{{ guess.prefix }}" />
          <td></td>
          <td>{{ recognized.prefix.value }}</td>
        </tr>
      </table>
      <input type='hidden' name='id' value='{{ id }}'>
      <button name="action" value="confirm" class="btn btn-primary">Uložit</button>&nbsp;
      <button name="action" value="discard" class="btn btn-primary">Odstranit</button>&nbsp;
      <button name="action" value="skip" class="btn btn-primary">Přeskočit</button>
    </form>
    <br/>
    <h3>Data z banky</h3>
    <table style="width:100%">
      {% for key, value in raw %}
        <tr>
          <td class="r" style="padding-right:5px">{{ key }}</td>
          <td style="min-width:150px;padding-left:5px">{{ value }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
