{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="r_wrapper">
      {% include 'Member/RozpisHeader.twig' with {'item': data} %}
      <table>
        <tr>
          <th>Tanečník</th>
          <th>Od</th>
          <th>Do</th>
          <th></th>
          <th>Zámek</th>
        </tr>
        {% for item in items %}
          <tr>
            <td>{{ userSelect(users, item.ri_id ~ '-partner', item.ri_partner, 'p_id') }}</td>
            <td>{{ text(item.ri_id ~ '-od', item.ri_od | time, {'size': 5}) }}</td>
            <td>{{ text(item.ri_id ~ '-do', item.ri_do | time, {'size': 5}) }}</td>
            <td><button name="remove" value="{{ item.ri_id }}" class="btn btn-primary">Odstranit</button></td>
            <td>{{ checkbox(item.ri_id ~ '-lock', 'lock', item.ri_lock) }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>{{ userSelect(users, 'add_partner', null, 'p_id') }}</td>
          <td><input class="form-control" type="text" size="5" name="add_od" /></td>
          <td><input class="form-control" type="text" size="5" name="add_do" /></td>
          <td><button name="action" value="add" class="btn btn-primary">Přidat</button></td>
          <td>{{ checkbox('add_lock', 'lock') }}
        </tr>
      </table>
    </div>
    <div>
      <button type="submit" name="action" value="enter" style="display:none;">Enter</button>
      <button name="action" value="submit" class="btn btn-primary">Uložit</button>
      <button name="action" value="overlap" class="btn btn-primary">Opravit přesahy</button>
      <br />
      <div class="form-inline mt-2">
        <button name="action" value="add_multiple" class="mr-1 btn btn-primary">Přidat více</button>
        {{ text('add_multi_num', '', {'size': 2}) }} <span class="p-2">hodin po</span>
        {{ text('add_multi_len', '', {'size': 3}) }} <span class="p-2">minutách od</span>
        {{ text('add_multi_od', '', {'size': 5}) }} <span class="p-2">hodin</span>
      </div>
    </div>
  </form>
  <br/>
  <h2>Nabídky</h2>
  <form action="" method="get" class="form-inline">
    {{ select('n', nabidky, selected_nabidka) }}
    <button class="ml-2 btn btn-primary">Vybrat nabídku</button>
  </form>
  {% if nabidka %}
    <div class="n_wrapper">
      {% include 'Member/NabidkaHeader.twig' with {'item': nabidka} %}
      <table style="margin:1rem auto 0">
        <tr>
          <th>Tanečník</th>
          <th>Počet hodin</th>
        </tr>
        {% for item in nabidka.items %}
          <tr>
            <td>{{ item.fullName }}</td>
            <td>{{ item.lessonCount }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
  <br/>
  <a class="btn btn-outline-primary" href="/admin/rozpis">Zpět</a>
</div>
{% endblock %}
