{% extends "Layout.twig" %}

{% block title %}Správa rozpisů{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="r_wrapper">
      <div class="trenink-header">
        <div class="h5 mb-0">
          {{ data.u_jmeno }} {{ data.u_prijmeni }}
          {% if data.canEdit %}
            <div class="btn-group">
              <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                <img alt="Upravit" width="16" src="/style/icon-gear.png" />
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-data" href="/admin/rozpis/edit/{{ data.r_id }}">Upravit</a>
                <a class="dropdown-data" href="/admin/rozpis/detail/{{ data.r_id }}">Upravit lekce</a>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="date">{{ data.r_datum|date('j. n. Y') }}</div>
        <div>{{ data.r_kde }}</div>
      </div>

      <table>
        <tr>
          <th>Tanečník</th>
          <th>Od</th>
          <th>Do</th>
          <th></th>
          <th>Zámek</th>
        </tr>
        {% for item in items %}
          <tr>
            <td>{{ userSelect(users, item.ri_id ~ '-partner', item.ri_partner, 'p_id') }}</td>
            <td><input class="form-control" type="time" size="5"
                       name="{{ item.ri_id }}-od" value="{{ item.ri_od | date('H:i') }}" /></td>
            <td><input class="form-control" type="time" size="5"
                       name="{{ item.ri_id }}-do" value="{{ item.ri_do | date('H:i') }}" /></td>
            <td><button name="remove" value="{{ item.ri_id }}" class="btn btn-primary">Odstranit</button></td>
            <td>{{ checkbox(item.ri_id ~ '-lock', 'lock', item.ri_lock) }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>{{ userSelect(users, 'add_partner', null, 'p_id') }}</td>
          <td><input class="form-control" type="time" size="5" name="add_od" /></td>
          <td><input class="form-control" type="time" size="5" name="add_do" /></td>
          <td><button name="action" value="add" class="btn btn-primary">Přidat</button></td>
          <td>{{ checkbox('add_lock', 'lock') }}
        </tr>
      </table>
    </div>
    <div>
      <button type="submit" name="action" value="enter" style="display:none;">Enter</button>
      <button name="action" value="submit" class="btn btn-primary">Uložit</button>
      <button name="action" value="overlap" class="btn btn-primary">Opravit přesahy</button>
      <br />
      <div class="form-inline mt-2">
        <button name="action" value="add_multiple" class="mr-1 btn btn-primary">Přidat více</button>
        <input type="text" class="form-control" name="add_multi_num" size="2" />
        <span class="p-2">hodin po</span>
        <input type="text" class="form-control" name="add_multi_len" size="3" />
        <span class="p-2">minutách od</span>
        <input type="time" class="form-control" name="add_multi_od" size="5" />
        <span class="p-2">hodin</span>
      </div>
    </div>
  </form>
  <br/>
  <h2>Nabídky</h2>
  <reservation-select></reservation-select>
  <a class="btn btn-outline-primary" href="/admin/rozpis">Zpět</a>
</div>
{% endblock %}
