{% extends "Layout.twig" %}

{% block title %}Správa videí{% endblock %}
{% block subheader %}<h2>{{ playlist }}</h2>{% endblock %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ action == 'orphan' ? 'active' : '' }}"
         style="color:#303C3C!important" href="/admin/video/orphan">Jednotlivá videa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ action == 'playlist' ? 'active' : '' }}"
         style="color:#303C3C!important" href="/admin/video/playlist">Playlisty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/source">Zdroje</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/title">Titulní stránka</a>
    </li>
  </ul>
  <a class="btn btn-primary" href="/admin/video/add">Nové video</a>
  <form action="" method="post">
    {% if not data %}
      <div class="alert alert-info">Žádná videa</div>
    {% else %}
      <table style="width:100%">
        <tr>
          <th>Jméno</th>
          <th>ID videa</th>
          <th>Přidáno</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>
              {% if row.type == 'video' %}
                <div class="btn-group">
                  <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                    <img alt="Upravit" width="14" src="/style/icon-gear.png" />
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/video/edit/{{ row.id }}">Upravit</a>
                    <a class="dropdown-item" href="/admin/video/remove/{{ row.id }}">Odstranit</a>
                  </div>
                </div>
                {{ row.title }}
              {% else %}
                <a href="/admin/video/playlist/{{ row.id }}">{{ row.title }}</a>
              {% endif %}
            </td>
            <td>{{ row.uri }}</td>
            <td style="width:100px">{{ row.created | timestamp(true) }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </form>
  <div class="text-center">{{ navigation | raw }}</div>
</div>
{% endblock %}

