{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ action == 'orphan' ? 'active' : '' }}"
         style="color:#303C3C!important" href="/admin/video/orphan">Jednotlivá videa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ action == 'playlist' ? 'active' : '' }}"
         style="color:#303C3C!important" href="/admin/video/playlist">Playlisty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/source">Zdroje</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/title">Titulní stránka</a>
    </li>
  </ul>
  <a class="btn btn-primary" href="/admin/video/add">Nové video</a>
  <form action="" method="post">
    {% if data %}
      {{ table(data, [
          ['buttons', '', ' style="width:55px"'],
          ['title', 'Jméno'],
          ['uri', 'ID videa'],
          ['created', 'Přidáno', ' style="width:100px"'],
      ], ' style="width:100%"') }}
    {% else %}
      {{ notice('Žádná videa') }}
    {% endif %}
  </form>
  <div style="text-align:center">{{ navigation | raw }}</div>
</div>
{% endblock %}

