{% extends "Layout.twig" %}

{% block title %}Přehled členů{% endblock %}

{% block content %}
  {{ include('Member/ClenoveNavigation.twig') }}
  <div class="container">
    <div class="row flex-wrap">
      {% for col in columns %}
        <div class="col-12 col-md-6">
          {% for skupina in col %}
            <table style="width:100%;margin-bottom: .5rem">
              <tr>
                <th class="r">
                  <div class="box" title="{{ skupina.name }}" style="background-color:{{ skupina.color }}"></div>
                </th>
                <th>
                  <big>{{ skupina.name }}</big> ({{ skupina.count }})
                  {% if showExport %}
                    <cohort-export id={{ skupina.id }}></cohort-export>
                  {% endif %}
                </th>
                <th>Zaplaceno?</th>
              </tr>
              {% for row in skupina.users %}
                <tr>
                  <td class="r" style="width:40px">{{ loop.index }}.</td>
                  <td>
                    <a href="/member/clenove/{{ row.u_id }}">{{ row.u_prijmeni }}, {{ row.u_jmeno }}</a>
                  </td>
                  <td style="width:40px">
                    <span style="font-weight:bold;color:{{ row.pi_id ? 'green' : 'red' }}">
                      {{ row.pi_id ? 'ANO' : 'NE' }}
                    </span>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
