{% extends "Layout.twig" %}

{% block content %}
  <div class="container">
    <form class="form-inline mb-2" method="GET">
      {{ select('kat', categories, kat, 'form-control') }}
      <button class="btn btn-primary">Zobrazit</button>
    </form>

    <table>
      <tr>
        <th>Jméno souboru</th>
        <th>Soubor</th>
        <th>Kategorie</th>
        <th>Přidal</th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{ item.name }}</td>
          <td><a href="/member/download?id={{ item.id }}">{{ item.fileName }}</a></td>
          <td>{{ item.kategorie }}</td>
          <td>{{ item.uploadedBy }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
