<div class="trenink-header">
  <div class="title">
    {{ item.fullName }}
    {% if item.canEdit %}
      <div class="btn-group">
        <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
          <img alt="Upravit" width="16" src="/style/icon-gear.png" />
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/admin/nabidka/edit/{{ item.id }}">Upravit</a>,
          <a class="dropdown-item" href="/admin/nabidka/detail/{{ item.id }}">Upravit rezervace</a>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="date">
    {{ item.date|date('j. n. Y') }}
    {% if item.dateEnd and item.date != item.dateEnd %}
      - {{ item.dateEnd|date('j. n. Y') }}
    {% endif %}
  </div>

  {% if item.hourMax > 0 %}
    <div>
      <span class="little">Maximálně hodin/pár:</span>
      <span class="nadpis">{{ item.hourMax }}</span>
    </div>
  {% endif %}
  <div>
    <span class="little">Volných hodin: </span>
    <span class="nadpis">
      {{ item.hourTotal - item.hourReserved }} z {{ item.hourTotal }} celkem
    </span>
  </div>
</div>
