{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  {{ partnerRequest() }}

  <form action="" method="post">
    <table>
      <tr><td colspan="2">Standard:</td></tr>
      <tr>
        <td>Třída:</td>
        <td>{{ selectLiteral('stt-trida', ['Z', 'H', 'D', 'C', 'B', 'A', 'M'], stt_trida) }}</td>
      </tr>
      <tr>
        <td>Body:</td>
        <td>{{ text('stt-body', stt_body) }}</td>
      </tr>
      <tr>
        <td>Finále:</td>
        <td>{{ text('stt-finale', stt_finale) }}</td>
      </tr>
      <tr><td colspan="2">Latina:</td></tr>
      <tr>
        <td>Třída:</td>
        <td>{{ selectLiteral('lat-trida', ['Z', 'H', 'D', 'C', 'B', 'A', 'M'], lat_trida) }}</td>
      </tr>
      <tr>
        <td>Body:</td>
        <td>{{ text('lat-body', lat_body) }}</td>
      </tr>
      <tr>
        <td>Finále:</td>
        <td>{{ text('lat-finale', lat_finale) }}</td>
      </tr>
    </table>
    <button class="btn btn-primary">Změnit třídu a body</button>
    <a class="btn btn-outline-primary" href="/member/profil">Zpět</a>
  </form>
</div>
{% endblock %}
