<div class="trenink-header">
  <div class="title">
    {{ item.fullName }}
    {% if item.canEdit %}
      <div class="btn-group">
        <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
          <img alt="Upravit" width="16" src="/style/icon-gear.png" />
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/admin/rozpis/edit/{{ item.id }}">Upravit</a>
          <a class="dropdown-item" href="/admin/rozpis/detail/{{ item.id }}">Upravit lekce</a>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="date">{{ item.date|date('j. n. Y') }}</div>
  <div>{{ item.kde }}</div>
</div>
