{% extends "Layout.twig" %}

{% block title %}Tréninky{% endblock %}

{% block content %}
<div class="container">
  <div class="row flex-wrap flex-space-around">
    {% for item in data %}
      <div class="col-12 col-md-6 col-lg-4 pb-2">
        <div class="widget">

          {% if item.type == 'schedule' %}
            <div class="widget-title text-center">
              {% include 'Member/RozpisHeader.twig' with {'item': item} %}
            </div>
            <div class="widget-content">
              {% for lesson in item.items %}
                <form class="row mx-auto mb-1 no-gutters" action="" method="post">
                  <input type='hidden' name='ri_id' value='{{ lesson.ri_id }}'>
                  <div class="col-4 text-center">
                    {{ lesson.ri_od | date('H:i') }}-{{ lesson.ri_do | date('H:i') }}
                  </div>
                  {% if lesson.canReserve %}
                    <div class="col-auto flex-grow-1">
                      <button name="action" value="signup" class="py-0 btn btn-outline-primary btn-sm">+</button>
                    </div>
                  {% else %}
                    <div class="col-auto flex-grow-1">{{ lesson.u_jmeno }} {{ lesson.u_prijmeni }}</div>
                    {% if lesson.canCancel %}
                      <div class="col-2">
                        <button name="action" value="signout" class="py-0 btn btn-outline-primary btn-sm">&times;</button>
                      </div>
                    {% endif %}
                  {% endif %}
                </form>
              {% endfor %}
            </div>

          {% elseif item.type == 'reservation' %}
            <div class="widget-title text-center">
              {% include 'Member/NabidkaHeader.twig' with {'item': item} %}
            </div>
            <form class="widget-content" action="" method="post">
              <input type='hidden' name='n_id' value='{{ item.n_id }}'>
              {% for row in item.items %}
                <div class="row mx-auto mb-1 no-gutters">
                  <div class="col-auto flex-grow-1 pr-1">
                    {{ row.ni_pocet_hod }}x
                    {{ row.u_jmeno }} {{ row.u_prijmeni }}
                  </div>
                  {% if row.canDelete %}
                    <div class="col-2">
                      <button name="p_id" value="{{ row.p_id }}"
                              class="pl-2 py-0 btn btn-outline-primary btn-sm">&times;</button>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
              {% if item.canAdd %}
                <div class="form-inline text-center" style="padding:10px 0 5px">
                  <input class="w-auto form-control" type="text" placeholder="Počet hodin" name="hodiny" />
                  <button class="btn btn-primary">Rezervovat</button>
                </div>
              {% endif %}
            </form>
          {% endif %}

        </div>
      </div>
    {% else %}
      <div class="alert alert-info">Žádné termíny tréninků nejsou vypsané.</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
