{% extends "Layout.twig" %}

{% block content %}
<div class="container article">
  <small>
    {{ timestamp(timestamp) }}
    {% if canEdit %}
      &nbsp;&nbsp;- <a href="/admin/aktuality/edit/{{ id }}">Upravit</a>
    {% endif %}
  </small><br>

  <h3>{{ description }}</h3>

  <div class="row">
    <div class="col-md-10 col-lg-7 text-justify">
      <img style="display:block;max-width:100%" alt="" src="{{ title_photo_uri }}" />
      {{ text | raw }}
      <div class="fb-comments" data-href="http://tkolymp.cz/aktualne/{{ id }}"></div>
    </div>
  </div>
</div>
{% endblock %}
