{% extends "Layout.twig" %}

{% block title %}{{ dir.gd_name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-4 pt-3">{{ sidemenu | raw }}</div>
    <div class="col-8">
      {% for item in photos %}
        <a href="/fotogalerie/{{ dir.gd_id }}/foto/{{ item.gf_id }}" class="foto_preview no-a">
          <div class="foto_preview_in">
            <img alt="{{ item.gf_id }}" src="/galerie/thumbnails/{{ item.gf_path }}" />
          </div>
        </a>
      {% else %}
        <div class="alert alert-info">Žádné fotky ve složce</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
