{% extends "Layout.twig" %}

{% block title %}Video{% endblock %}
{% block subheader %}<h2>{{ playlist }}</h2>{% endblock %}

{% block content %}
<style>
 .playlist {
     padding: .3rem .5rem;
 }
 .playlist.active {
     background-color: #eee;
     font-weight: bolder;
 }
 #video-popup {
     z-index:11;
     position:fixed;
     top:0;
     left:0;
     width:100vw;
     height:100vh;
     background:rgba(0, 0, 0, .8);
     display:-webkit-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
 }
 #video-popup div {
     max-width: 80%;
     max-height: 80%;
 }
 #video-popup iframe {
     max-width: 100%;
     max-height: 100%;
     width:650px;
     height:390px;
 }
</style>

<div class="container">

  {% for item in videos %}
    <a class="row video-item" href="{{ item.uri }}">
      <div class="col-sm-auto p-0 pb-2">
        <img src="{{ item.thumbnail }}" style="width:150px" />
      </div>
      <div class="col">
        <b>{{ item.title }}</b><br>
        {{ item.date | date('j. n. Y') }}
      </div>
    </a>
  {% endfor %}

  {% if videos %}<h3>Seznamy videí</h3>{% endif %}
  {% for item in playlists %}
    <div class="playlist {{ playlist == item.vl_id ? 'active' : '' }}">
      <a href="/video?playlist={{ item.vl_id }}">
        <b>{{ item.vl_title }}</b>
      </a>
    </div>
  {% endfor %}
  <div class="playlist {{ playlist == 'other' ? 'active' : '' }}">
    <a href="/video?playlist=other"><b>Nezařazená videa</b></a>
  </div>

</div>
<div id="video-popup" style="display:none"></div>

<script>
 (function checkStatus() {
     if (!/interactive|complete|loaded/.test(document.readyState)) {
         setTimeout(checkStatus, 10);
         return;
     }

     jquery('#video-popup').click(function () {
         jquery(this).empty().hide();
     });
     jquery('.video-item').click(function (e) {
         e.preventDefault();
         jquery('#video-popup').append('<div><iframe src="' + $(this).attr('href') + '" frameborder="0" allowfullscreen></iframe></div>').show();
     });
 })();
</script>
{% endblock %}
