{% extends "Layout.twig" %}

{% block title %}{{ data.at_jmeno }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ data.at_jmeno }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://tkolymp.cz/aktualne/{{ data.at_id }}" />
  <meta property="og:image" content="https://tkolymp.cz/galerie/thumbnails/{{ photoUri }}" />
  <meta property="og:site_name" content="TK Olymp" />
  <meta property="og:description" content="{{ data.at_preview }}" />
{% endblock %}

{% block content %}
<div class="container article">
  <small>
    {{ data.at_timestamp_add | date('j. n. Y H:i') }}
  </small><br>

  <h3>{{ data.at_preview | raw }}</h3>

  <div class="row">
    <div class="col-md-10 col-lg-7 text-justify">
      <img style="display:block;max-width:100%" alt="" src="/galerie/{{ photoUri }}" />
      {{ data.at_text | raw }}
      <div class="fb-comments" data-href="http://tkolymp.cz/aktualne/{{ data.at_id }}"></div>
    </div>
  </div>
</div>
{% endblock %}
