{% extends "Layout.twig" %}

{% block title %}Přehled členů{% endblock %}

{% block content %}
  {{ include('Member/ClenoveNavigation.twig') }}
  <div class="container">
    <h2>{{ user.fullName }}</h2>
    E-mail: {{ user.email }}<br/>
    Telefon: {{ user.phone }}<br/>
    <a class="btn btn-outline-primary" href="{{ returnURI }}">Zpět</a>
  </div>
{% endblock %}
