{% extends "Layout.twig" %}

{% block title %}Správa dokumentů{% endblock %}

{% block content %}
<div class="container">
  <form action="/admin/dokumenty" method="POST">
    <table style="width:100%">
      <tr>
        <th>Soubor</th>
        <th>Kategorie</th>
        <th>Přidal</th>
      </tr>
      {% for row in data %}
        <tr>
          <td class="d-flex">
            <div class="btn-group">
              <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                <img alt="Upravit" width="14" src="/style/icon-gear.png" />
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/member/download?id={{ row.d_id }}">Stáhnout</a>
                <a class="dropdown-item" href="/admin/dokumenty/remove/{{ row.d_id }}">Odstranit</a>
              </div>
            </div>
            <div>
              <div><b>{{ row.d_name }}</b></div>
              <div>{{ row.d_filename }}</div>
            </div>
          </td>
          <td>{{ types[row.d_kategorie] }}</td>
          <td>{{ row.u_jmeno }} {{ row.u_prijmeni }}</td>
        </tr>
      {% endfor %}
    </table>
  </form>
  <hr />
  <h2>Upload</h2>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Název</label>
      <input class="form-control" type="text" name="name" placeholder="Název" />
    </div>
    <div class="form-group">
      <input type="file" class="form-control-file" name="file">
    </div>
    <div class="form-group">
      <label for="kategorie">Kategorie</label>
      <select class="form-control" name="kategorie">
        <option value="1">Schůze, rady</option>
        <option value="2">Soutěže</option>
        <option value="3">Soustředění</option>
        <option value="0">Ostatní</option>
      </select>
    </div>
    <div class="form-group">
      <button name="action" value="upload" class="btn btn-primary">Nahrát</button>
    </div>
  </form>
</div>
{% endblock %}
