{% extends "Layout.twig" %}

{% block title %}Správa fotogalerie{% endblock %}
{% block subheader %}<h2>{{ action == 'add' ? 'Přidat' : 'Upravit' }} složku</h2>{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="post">
    <div class="form-group">
      <label for="name">Název</label>
      <input class="form-control" type="text" name="name" value="{{ name }}" />
    </div>
    <div class="form-group">
      <label for="parent">Nadsložka</label>
      {{ selectAssoc('parent', dirs, 'id', 'text', parent) }}
    </div>
    <div class="form-check">
      {{ checkbox('hidden', '1', hidden, 'Skrýt') }}
    </div>
    <div class="form-group">
      <a class="btn btn-outline-primary" href="/galerie">Zpět</a>
      <button class="btn btn-primary">{{ action == 'add' ? 'Přidat' : 'Upravit' }}</button>
    </div>
  </form>
</div>
{% endblock %}
