{% extends "Layout.twig" %}

{% block title %}Správa nástěnky{% endblock %}
{% block subheader %}<h2>{{ action == 'add' ? 'Přidat' : 'Upravit' }} příspěvek</h2>{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="form-group row">
      <label for="nadpis" class="col-sm-2 col-form-label">Nadpis</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="nadpis" value="{{ nadpis }}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="text" class="col-sm-2 col-form-label">Text</label>
      <div class="col-sm-10">
        <ck-editor name="text" initialState="{{ text }}"></ck-editor>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Skupiny</label>
      <div class="col-sm-10">
        {% for item in skupiny %}
          <div class='mb-0 form-group form-check'>
            <input type=checkbox class='form-check-input' name='sk-{{ item.s_id }}'
                   value='1' {{ skupinySelected[item.s_id] ? ' checked' : '' }} />
            <label class='form-check-label'>
              <div class="box" title="{{ item.s_name }}" style="background-color:{{ item.s_color_rgb }}">
              </div>&nbsp;{{ item.s_name }}
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <div class="form-group">
          <input type='hidden' name='returnURI' value='{{ returnURI }}'>
          <button class="btn btn-primary">{{ action == 'add' ? 'Přidat' : 'Upravit' }}</button>
          <a class="btn btn-outline-primary" href="{{ returnURI }}">Zpět</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
