{% extends "Layout.twig" %}

{% block title %}Správa plateb{% endblock %}
{% block subheader %}<h2>Členové podle skupin</h2>{% endblock %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container">
    <div class="row flex-wrap">
      {% for col in columns %}
        <div class="col-12 col-md-6">
          {% for skupina in col %}
            <table style="width:100%;margin-bottom:.5rem">
              <tr>
                <th></th>
                <th><big>
                  <div class="box" title="{{ skupina.name }}" style="background-color:{{ skupina.color }}"></div>
                  &nbsp;&nbsp;{{ skupina.name }}
                </big></th>
                <th>Zaplaceno?</th>
                <th>Částka</th>
              </tr>
              {% for user in skupina.users %}
                <tr>
                  <td class="r" style="width:40px">{{ loop.index }}.</td>
                  <td>
                    <a href="/platby/items?user={{ user.user.id }}">
                      {{ user.user.surname }}, {{ user.user.name }}
                    </a>
                  </td>
                  <td style="width:40px">
                    <span style="font-weight:bold;color:{{ user.hasPaid ? 'green' : 'red' }}">
                      {{ user.hasPaid ? 'ANO' : 'NE' }}
                    </span>
                  </td>
                  <td style="width:200px">
                    {% if not user.hasPaid %}
                      <span style="text-decoration:line-through">{{ user.setAmount }} Kč</span>
                    {% elseif user.paidAmount == user.setAmount %}
                      <span style="color:green">{{ user.paidAmount }} Kč</span>
                    {% else %}
                      <span style="font-weight:bold;color:red">{{ user.paidAmount }} Kč</span>
                      <span style="text-decoration:line-through">({{ user.setAmount }} Kč)</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
