{% extends "Layout.twig" %}

{% block title %}Správa plateb{% endblock %}
{% block subheader %}<h2>Specifické symboly</h2>{% endblock %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container">
    <form action="" method="post">
      <a class="btn btn-primary" href="/admin/platby/structure/category/add">Přidat specifický symbol</a>
      <table style="width:100%">
        <tr>
          <th>Název</th>
          <th>Specifický symbol</th>
          <th>Platí pro období</th>
          <th>Částka</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                  <img alt="Upravit" width="14" src="/style/icon-gear.png" />
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/platby/structure/category/edit/{{ row.pc_id }}">Upravit</a>
                  <button class="dropdown-item" name="category_duplicate" value="{{ row.pc_id }}">Duplikovat</button>
                  <a class="dropdown-item" href="/admin/platby/structure/category/remove/{{ row.pc_id }}">Odstranit</a>
                </div>
              </div>
              {{ row.pc_name }}
            </td>
            <td>{{ row.pc_symbol }}</td>
            <td><date-range from="{{ row.pc_valid_from }}" to="{{ row.pc_valid_to }}"></date-range></td>
            <td>{{ row.pc_amount ~ (row.pc_use_base ? ' * ?' : '') }} Kč</td>
          </tr>
        {% endfor %}
      </table>
      <br>

      <h2>Archivované symboly</h2>
      <table style="width:100%">
        <tr>
          <th>Název</th>
          <th>Specifický symbol</th>
          <th>Platí pro období</th>
          <th>Částka</th>
        </tr>
        {% for row in archived %}
          <tr>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
                  <img alt="Upravit" width="14" src="/style/icon-gear.png" />
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/platby/structure/category/edit/{{ row.pc_id }}">Upravit</a>
                  <button class="dropdown-item" name="category_duplicate" value="{{ row.pc_id }}">Duplikovat</button>
                  <a class="dropdown-item" href="/admin/platby/structure/category/remove/{{ row.pc_id }}">Odstranit</a>
                </div>
              </div>
              {{ row.pc_name }}
            </td>
            <td>{{ row.pc_symbol }}</td>
            <td><date-range year="1" from="{{ row.pc_valid_from }}" to="{{ row.pc_valid_to }}"></date-range></td>
            <td>{{ row.pc_amount ~ (row.pc_use_base ? ' * ?' : '') }} Kč</td>
          </tr>
        {% endfor %}
      </table>
    </form>
  </div>
{% endblock %}

