{% macro menuItem(name, uri, currentUri) %}
  {% if currentUri == uri %}
    {{ name }}
  {% else %}
    <a href="{{ uri }}">{{ name }}</a>
  {% endif %}
{% endmacro %}

<style>
#adminNavigation li {
    display:inline;
    font-size: 115%;
    padding: 0 5px;
    font-weight:bold;
} #adminNavigation li a {
    font-weight:normal;
}
</style>
<div class="container">
  <ul id="adminNavigation">
    <li>{{ _self.menuItem('Přehled', '/platby', currentUri) }}</li>
    <li>{{ _self.menuItem('Hledání', '/platby/items', currentUri) }}</li>
    {% if currentUri in ['/platby/structure/category', '/platby/structure/group', '/platby/structure'] %}
      <li>{{ _self.menuItem('Struktura', '/platby/structure', currentUri) }}:</li>
      <li>({{ _self.menuItem('Kategorie', '/platby/structure/group', currentUri) }}</li>
      <li>{{ _self.menuItem('Specifické symboly', '/platby/structure/category', currentUri) }})</li>
    {% else %}
      <li>{{ _self.menuItem('Struktura', '/platby/structure', currentUri) }}</li>
    {% endif %}
    {% if currentUri in ['/platby/raw', '/platby/manual', '/platby/discarded'] %}
      <li>{{ _self.menuItem('Import', '/platby/raw', currentUri) }}:</li>
      <li>({{ _self.menuItem('Nezařazené platby', '/platby/manual', currentUri) }}</li>
      <li>{{ _self.menuItem('Vyřazené platby', '/platby/discarded', currentUri) }})</li>
    {% else %}
      <li>{{ _self.menuItem('Import', '/platby/raw', currentUri) }}</li>
    {% endif %}
  </ul>
</div>
