{% extends "Layout.twig" %}

{% block title %}Správa plateb{% endblock %}
{% block subheader %}<h2>Struktura plateb</h2>{% endblock %}

{% macro paymentCategory(id) %}
  <div class="btn-group">
    <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
      <img alt="Upravit" width="14" src="/style/icon-gear.png" />
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/platby/structure/category/edit/{{ id }}">Upravit</a>
      <a class="dropdown-item" href="/platby/structure/category/remove/{{ id }}">Odstranit</a>
    </div>
  </div>
{% endmacro %}
{% macro paymentGroup(id) %}
  <div class="btn-group">
    <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
      <img alt="Upravit" width="14" src="/style/icon-gear.png" />
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/platby/structure/group/edit/{{ id }}">Upravit</a>
      <a class="dropdown-item" href="/platby/structure/group/remove/{{ id }}">Odstranit</a>
    </div>
  </div>
{% endmacro %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}

  <div class="container">
    <a class="btn btn-primary" href="/platby/structure/group/add">Přidat kategorii</a>
    <a class="btn btn-primary" href="/platby/structure/category/add">Přidat specifický symbol</a>

    {% set groupId = 0 %}
    {% for row in data %}
      <div>
        {% if row.pg_id != groupId %}
          {% if groupId != 0 %}</ul>{% endif %}
          {% set groupId = row.pg_id %}
          {{ _self.paymentGroup(row.pg_id) }}
          <span class="big" style="text-decoration:underline">{{ row.pg_name }}</span>
          <ul>
        {% endif %}
        <li>{{ row.pc_name }} ({{ row.pc_symbol }}){{ _self.paymentCategory(row.pc_id) }}</li>
      </div>
    {% endfor %}

    {% if orphanGroupSkupina %}
      <h4>Kategorie plateb bez přiřazené uživatelské skupiny</h4>
      <ul>
        {% for row in orphanGroupSkupina %}
          <li>{{ row.pg_name }}{{ _self.paymentGroup(row.pg_id) }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if orphanGroupCategory %}
      <h4>Kategorie plateb bez přiřazených specifických symbolů</h4>
      <ul>
        {% for row in orphanGroupCategory %}
          <li>{{ row.pg_name }}{{ _self.paymentGroup(row.pg_id) }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if orphanCategory %}
      <h4>Specifické symboly bez přiřazené kategorie</h4>
      <ul>
        {% for row in orphanCategory %}
          <li>{{ row.pc_name }}{{ _self.paymentCategory(row.pc_id) }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</div>
{% endblock %}
