{% extends "Layout.twig" %}

{% block title %}Správa rozpisů{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="h5 mb-0">
      {{ data.u_jmeno }} {{ data.u_prijmeni }}
    </div>
    <div class="date">{{ data.r_datum|date('j. n. Y') }}</div>
    <div>{{ data.r_kde }}</div>

    <table>
      <tr>
        <th>Tanečník</th>
        <th>Od</th>
        <th>Do</th>
        <th></th>
        <th>Zámek</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ userSelect(users, item.ri_id ~ '-partner', item.ri_partner, 'p_id') }}</td>
          <td><input class="form-control" type="time" size="5"
                     name="{{ item.ri_id }}-od" value="{{ item.ri_od | date('H:i') }}" /></td>
          <td><input class="form-control" type="time" size="5"
                     name="{{ item.ri_id }}-do" value="{{ item.ri_do | date('H:i') }}" /></td>
          <td><button name="remove" value="{{ item.ri_id }}" class="btn btn-primary">Odstranit</button></td>
          <td>{{ checkbox(item.ri_id ~ '-lock', 'lock', item.ri_lock) }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ userSelect(users, 'add_partner', null, 'p_id') }}</td>
        <td><input class="form-control" type="time" size="5" name="add_od" /></td>
        <td><input class="form-control" type="time" size="5" name="add_do" /></td>
        <td><button name="action" value="add" class="btn btn-primary">Přidat</button></td>
        <td>{{ checkbox('add_lock', 'lock') }}
      </tr>
    </table>

    <div>
      <button type="submit" name="action" value="enter" style="display:none;">Enter</button>
      <button name="action" value="submit" class="btn btn-primary">Uložit</button>
    </div>
  </form>
  <br/>
  <h2>Nabídky</h2>
  <reservation-select></reservation-select>
  <a class="btn btn-outline-primary" href="/admin/rozpis">Zpět</a>
</div>
{% endblock %}
