{% extends "Layout.twig" %}

{% block title %}Správa skupiny{% endblock %}

{% block content %}
  <div class="container">
    <a class="mb-2 btn btn-primary" href="/admin/skupiny/add">Přidat skupinu</a>
    {% for row in data %}
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-xs pt-0" data-toggle="dropdown">
            <img alt="Upravit" width="14" src="/style/icon-gear.png" />
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/skupiny/edit/{{ row.s_id }}">Upravit</a>
            <a class="dropdown-item" href="/admin/skupiny/remove/{{ row.s_id }}">Odstranit</a>
          </div>
        </div>
        <div class="box" title="{{ row.s_name }}" style="background-color:{{ row.s_color_rgb }}"></div>
        {{ row.s_name }}{% if row.s_location %}, {{ row.s_location }}{% endif %}
        {% if not row.s_visible %}(skrytá){% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
