{% extends "Layout.twig" %}

{% block title %}Správa uživatelů{% endblock %}
{% block subheader %}<h2>Nepotvrzení uživatelé</h2>{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    {% if not data %}
      <div class="alert alert-info">Žádní nepotvrzení uživatelé nejsou v databázi.</div>
    {% else %}
      <table>
        <tr>
          <th></th>
          <th>Úroveň</th>
          <th>Skupina</th>
          <th>Jméno</th>
          <th>Datum<br>narození</th>
          <th>Poznámka</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>
              <button class="btn btn-link px-1" name="confirm" value="{{ row.u_id }}">&#10003;</button>
              <a class="btn btn-link px-1" href='/admin/users/remove/{{ row.u_id }}'>
                <img alt='Odstranit' src='/style/icon-trash-o.png' />
              </a>
            </td>
            <td>{{ selectAssoc(row.u_id ~ '-group', groups, 'pe_id', 'pe_name', 3) }}</td>
            <td>{{ selectAssoc(row.u_id ~ '-skupina', skupiny, 's_id', 's_name', row.u_skupina) }}</td>
            <td style="max-width:140px">{{ row.u_jmeno }} {{ row.u_prijmeni }}</td>
            <td>{{ row.u_narozeni | date('j. n. Y') }}</td>
            <td>{{ row.u_poznamky }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <a class="btn btn-outline-primary" href="/admin/users">Zpět</a>
  </form>
</div>
{% endblock %}
